/* stylin the container */
.container {
  display: flex;
  gap: 1rem;
}
/* styling the cards */
.card {
  position: relative;
  width: 27.9rem;
  box-sizing: border-box;
  height: 25.5rem;
  background-color: #fff;
  border-radius: 0.75rem;
  padding: 1rem;
}
.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.head p {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.9rem;
  color: #787486;
}
h1 {
  color: #23262f;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 3rem;
}
/* styling card information */
.card-info {
  display: flex;
  gap: 1.6rem;
}
.card-info_1 {
  width: 25%;
}
.card-info_img {
  margin-top: 1rem;
  position: relative;
}
/*  postioning the card images */
.card-info_img img:nth-child(2) {
  position: absolute;
  top: 10%;
  left: 10%;
}
.card-info_img img:nth-child(3) {
  position: absolute;
  top: 20%;
  left: 20%;
}
.card-info_img img:nth-child(4) {
  position: absolute;
  top: 30%;
  left: 30%;
}
.card-info_img img:nth-child(5) {
  position: absolute;
  top: 24%;
  left: 90%;
}
.card-info_img img:nth-child(6) {
  position: absolute;
  top: 32%;
  left: 21%;
}
.card-info_img img:nth-child(7) {
  position: absolute;
  top: 77%;
  left: 60%;
}
/* styling the card information */
ul {
  list-style: none;
  padding: 0;
}
li {
  color: #787486;
  font-size: 0.9rem;
  margin-top: 1rem;
  display: flex;
  gap: 0.2rem;
  flex-wrap: wrap;
}
span {
  display: block;
  padding: 0;
  color: #000;
  font-size: 1.35rem;
  font-weight: 700;
}
.card-img {
  position: absolute;
  top: 25%;
  left: 30%;
}
.card-img-info {
  text-align: center;
  position: absolute;
  top: 30%;
  left: 42%;
  font-size: 1.12rem;
}
.info {
  width: 80%;
  position: absolute;
  bottom: 5%;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
}
.info_1 {
  display: flex;
  line-height: 2rem;
  gap: 1rem;
  color: #b6baca;
  font-size: 1.2rem;
}
/*  Media query to adjust the view in small screens */
@media (max-width: 480px) {
  * {
    font-size: x-small;
  }
  .container {
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 480px) and (max-width: 860px) {
  * {
    font-size: small;
  }
  .container {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  app-widgets {
    margin: 0 auto;
    width: 50%;
  }
}
