<div class="container">
  <!-- the right elements in the component -->
  <div class="right">
    <div class="search">
      <img src="../../../assets/search.svg" alt="search icon" />
      <input type="text" placeholder="{{ 'search' | translate }}..." />
    </div>
    <div class="settings">
      <img src="../../../assets/setting-4.svg" alt="icon" />
    </div>
    <div class="order">
      <img src="../../../assets/order.svg" alt="icon" />
    </div>
  </div>
  <!-- the left elment of the component -->
  <div>
    <button type="button">+ {{ 'add' | translate }}</button>
  </div>
</div>
