<div class="container" [ngStyle]="{ 'background-color': user.color }">
  <h1>{{ 'user.data' | translate }}</h1>
  <div class="container-info">
    <img src="../../assets/sidebar/clock.svg" alt="clock icon" />
    <p>5:00 - 6:00 {{ 'time' | translate }}</p>
  </div>
  <div class="container-avatar">
    <img [src]="user.image" alt="avatar image" />

    <!-- handling language change -->
    <button
      type="button"
      [ngStyle]="{ transform: lang == 'ar' ? 'scaleX(1)' : 'scaleX(-1)' }"
    >
      <img src="../../assets/sidebar/left.svg" alt="arrow left" />
    </button>
  </div>
</div>
