<div class="container">
  <div class="widget">
    <div class="widget-info">
      <div>{{ 'reading' | translate }}</div>
      <div class="widget-info_1">
        35 <img src="../../assets/card/timer-icon.svg" alt="timer" />
      </div>
    </div>
    <div class="mask"></div>
  </div>
  <div class="widget">
    <div class="widget-info">
      <div>{{ 'reading' | translate }}</div>
      <div class="widget-info_1">
        256 <img src="../../assets/card/calendar-icon.svg" alt="timer" />
      </div>
    </div>
    <div class="mask"></div>
  </div>
  <div class="widget">
    <div class="widget-info">
      <div>{{ 'reading' | translate }}</div>
      <div class="widget-info_1">
        18<img src="../../assets/card/tick-icon.svg" alt="timer" />
      </div>
    </div>
    <div class="mask"></div>
  </div>
</div>
