/* styling the container */
.container {
  margin-top: 3rem;
  width: 36.4rem;
  height: 75.8rem;
  box-sizing: border-box;
  padding: 0 2rem;
}
/* styling the calender elements */
.calender {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6.5rem;
  padding: 2.5rem 1rem;
}
.calender-info {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  color: #1c1c28;
  font-size: 1.05rem;
  font-weight: 700;
}
.calender-info_img {
  display: flex;
  gap: 2rem;
}
.calender-view {
  height: 9rem;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
/*  styling the calender picker */
.calender-picker {
  width: 9.3rem;
  height: 3.2rem;
  padding: 0.5rem;
  border-radius: 0.82rem;
  background: #f7f6fd;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.calender-picker div {
  font-size: 0.85rem;
  color: #a09cb2;
}
.calender-picker input {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  width: 1.2rem;
  height: 1.2rem;
  background-image: url('../../../assets/sidebar/arrow-bottom.svg');
  background-position: center;
}
/*  styling the view of the week days */
.view {
  width: 4rem;
  height: 7.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.9rem;
}
.view div {
  color: #1c1c28;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0.5rem;
  border-radius: 50%;
}
.view p {
  color: #b4b4b4;
  font-size: 0.75rem;
}
/* hover animations */
.view:hover {
  background-color: #feee00;
  cursor: pointer;
}
.view:hover > div {
  background-color: black;
  color: white;
}
/*  styling the container of the small-card component */
.cards {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2.9rem;
  cursor: grab;
}
/* Media query to adjust the component in small screens */
@media (max-width: 480px) {
  * {
    font-size: xx-small;
  }
  .container {
    margin-top: 1rem;
  }
  @media (min-width: 480px) and (max-width: 860) {
    .container {
      width: 120%;
    }
  }
}
