.container_menu {
  box-sizing: border-box;
  padding: 1rem;
  width: 25rem;
  transition: all 1s ease-in-out;
  height: 82rem;
  background-color: #fffffc;
  position: relative;
}
.arrow_ar {
  position: absolute;
  top: 2%;
  right: 100%;
  padding: 0.8rem;
  background-color: #feee00;
  border-radius: 0.5rem;
  cursor: pointer;
}

.arrow_en {
  position: absolute;
  top: 2%;
  left: 100%;
  padding: 0.8rem;
  background-color: #feee00;
  border-radius: 0.5rem;
  cursor: pointer;
}
.invisble {
  transform: translateX(100%);
  z-index: 100;
}
.invisble_en {
  transform: translateX(-100%);
  z-index: 100;
}

hr {
  width: 24.3rem;
  height: 0.1rem;
  border: none;
  background-color: #f4f7fe;
}

.logo-image {
  height: 8rem;
  padding: 1rem 3rem;
}
h1 {
  font-size: 1.2rem;
  color: #cfcfcf;
  padding-right: 1.5rem;
}

ul {
  margin-top: 1rem;
  list-style: none;
  padding: 0;
}
li {
  display: flex;
  gap: 2rem;
  align-items: center;
  width: 24rem;
  height: 4.2rem;
  font-size: 1.35rem;
  padding-right: 2rem;
}
li img {
  display: block;
  width: 2.1rem;
  height: 2.1rem;
}

.drop-down {
  height: auto;
  flex-direction: column;
  gap: 0;
}

.flex {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2rem;
  height: auto;
}
.mini-menu {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-right: 8rem;
  display: none;
}
.mini-menu_img {
  width: 0.72rem;
  height: 7rem;
  position: absolute;
  top: 15%;
}
/* for ltr direction */
.mini-menu_ar {
  padding-right: 8rem;
}
.mini-menu_img-ar {
  right: 20%;
}

/* for rtl direction */
.mini-menu_en {
  padding-left: 20rem;
}
.mini-menu_img-en {
  left: 36%;
  transform: scaleX(-1);
}

.mini-menu li {
  height: 2.5rem;
}

.mini-menu_img img {
  display: block;
  width: 100%;
  height: 100%;
}
.visible {
  display: initial;
}
@media (max-width: 1440px) {
  .container_menu {
    position: fixed;
    top: 0;
    z-index: 100;
  }
}
